<header class="showcase">
  <div class="content">
    <img src="../../../assets/retrato.png" class="logo" alt="Traversy Media">
    <div class="title">
      Seja Bem Vindo
    </div>
    <div class="text">
      Esta é a minha Página Pessoal.
    </div>
  </div>
</header>

<!-- Services -->



<!-- About -->
<section class="about bg-light">
  <div class="container">
    <div class="grid-2">
      <div class="center">
        <i class="fas fa-laptop-code fa-10x"></i>
      </div>
      <div>
        <h3>Sobre Mim</h3>
        <p>Visite Perfil para saber mais sobre mim.</p>
      </div>
    </div>
  </div>
</section>

<footer class="center bg-dark">
  <p>Sérgio Brito &copy; 2021</p>
</footer>

